* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#breadcrumbs-home {
  margin-bottom: 20px;

  .container {
    max-width: 1050px;
    width: 100%;
    margin: auto;

    p {
      margin: 0;
      display: flex;
      color: #828BA1;
      font-size: 14px;

      svg {
        margin: 0 20px;
      }

      span {
        display: flex;
        align-items: center;
        color: #828BA1;
        font-weight: bold;
      }
    }
  }
}

#content-my-account {
  margin-top: 20px;
  margin-bottom: 100px;

  .container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    display: flex;

    aside {
      flex: 1;
      margin-right: 80px;

      .title {
        font-size: 21px;
        margin: 0;
        margin-bottom: 20px;
        color: #262A34;
      }

      .menu-my-account {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E1E8F3;

        li {
          width: fit-content;
          font-size: 21px;
          color: #828BA1;
          display: flex;
          margin: 8px 0;
          cursor: pointer;
          transition: all ease .3s;

          svg {
            margin-right: 10px;
          }

          &:hover {
            color: #00C1A5;
          }
        }

        .active {
          color: #00C1A5;
        }
      }

      .contact {
        p {
          margin: 0;
          margin-bottom: 15px;
          color: #828BA1;
        }

        .button-whatsapp,
        .button-email {
          width: 100%;
          height: 50px;
          margin-bottom: 10px;
          border: 1px solid #E1E8F3;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 18px;
          color: #828BA1;
          
          svg {
            margin-right: 10px;
          }
        }

        span {
          margin-top: 10px;
          color: #828BA1;
        }
      }
    }

    section {
      flex: 3.5;
    }
  }
}

@media only screen and (min-device-width: 825px) and (max-device-width: 1050px) {
  #breadcrumbs-home {
    .container {
      max-width: 825px;
    }
  }

  #content-my-account {
    .container {
      max-width: 825px;

      section {
        flex: 3;
      }
    }
  }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 825px) {
  #breadcrumbs-home {
    display: none;
  }

  #content-my-account {
    .container {
      max-width: 425px;

      aside {
        display: none;
      }
    }
  }
}

@media only screen and (max-device-width: 425px) {
  #breadcrumbs-home {
    display: none;
  }

  #content-my-account {
    padding: 0 10px;

    .container {
      aside {
        display: none;
      }
    }
  }
}